.chat {
    min-height: 100vh;
    background: linear-gradient(#596aff, #383699);
    display: grid;
    place-items: center;
    padding: 20px; /* Добавлено для отступов */
}
.chat-container {
    width: 95%;
    height: 75vh;
    min-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 10px; /* Добавлено для скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавлено для тени */
}
.loading {
    font-size: 50px;
    color: white;
}
@media (max-width:900px) {
    .chat-container {
        display: flex;
    }
    .loading {
        font-size: 30px;
    }
}